@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    --primary: #2C2D84;

    --primary-hover: #7343de;

    --light-gray: #9c9d9e;

    --border-light: #d5dfe7;

    --background-light: #F2F3F8;

    --text-light-gray: #6F6F85;

    --menu-text: #575962;

    --dark-bg: #F4F5F8;

    --dark-bg-text: #575962;

    --table-stripes: #F8F9FA;

    --table-date: #1174B9
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.text-small {
    font-size: 1rem;
    font-weight: 400;
}

.modal-guide{
    display: flex;
    flex-direction: column;
}

.text-medium {
    display: inline;
    font-size: 1.4rem;
    font-weight: 500;
}

.text-large {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(49, 49, 49);
}

.text-white {
    color: white;
}

.bg-purple {
    background-color: var(--primary);
}

.text-purple {
    color: var(--primary);
}


body {
    background-color: peru;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.left-side {
    background: url('../img/background.jpg') center;
    background-size: cover;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 250px;
    margin-top: 3rem;
}

.guids {
    color: white;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

.right-side {
    width: 60%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-column {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    text-align: left;
}

.heading div {
    transform: translateY(-17px);
    color: var(--light-gray);
}

.form {
    transform: translateY(-17%);
}

.single-input {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 0;
    flex-direction: column;
    text-align: left;
}

.option-input{
    display: flex;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 0;
    flex-direction: column;
    text-align: left;
}

.input-form {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-size: 0.9rem;
    font-weight: 600;
}

.form-input {
    width: 100%;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--border-light);
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn-ghost{
    background-color: #f6f6f6;
    color: #8181A5;
}

.modal-password-input{
    max-width: 100%;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--border-light);
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-input:focus {
    border: 1px solid var(--border-light);
    outline: none;
}

.single-select {
    border: 1px solid var(--border-light);
    outline: none;
    border-radius: 10px;
    padding: 0.8rem 0rem 0.8rem 1rem
}

.input-remember {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.show-password {
    position: relative;
    font-size: 1.5rem;
    color: var(--border-light);
    cursor: pointer;
    left: 92%;
    top: -2.5rem;
    opacity: 1;
}


.btn-span-back {
    margin-left: 1rem;
}

.button-control {
    display: flex;
    justify-content: space-between;
}

.modal-overlay {
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s ease opacity;
    z-index: -100;
    opacity: 0;
}

.visible-custom {
    opacity: 1;
}

.modal-custom {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem 2rem 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.modal-close {
    font-size: 1.5rem;
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    cursor: pointer;
    z-index: inherit;
}

.modal-close .fas {
}

.modal-header-custom {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.modal-icon {
    background-color: #EEF2FF;
    position: relative;
    width: 100px;
    height: 100px;
    color: #C5DAFE;
    border-radius: 50%;
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    overflow: hidden;

}

.modal-body-custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 4rem;
}


.modal-guide-password-custom {
    text-align: left;
    margin: 0;
}

.visible-custom {
    z-index: 100;
    opacity: 1;
}

.double-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.double-input input {
    width: 100%;
    padding-right: 7rem;
}

.modal-user-icon {
    font-size: 5rem;
    transform: translateY(15%);
}

.modal-user-check {
    width: 36px;
    height: 36px;
    position: absolute;
    font-size: 1rem;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    top: 28%;
    left: 52%;
}

.modal-user-times {
    width: 36px;
    height: 36px;
    position: relative;
    font-size: 1.5rem;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    left: 70%;
    bottom: 4rem;
}

.navbar-custom {
    background-color: var(--primary);
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.navbar-brand-custom {
    padding: 1.5rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.3rem;
}

.navbar-expand-custom {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.navbar-expand-custom:hover {
    color: white;
}

.navbar-menu {
    width: 100%;
    margin-top: 3rem;
    padding: 0 .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-list {
    width: 100%;
    list-style: none;
    padding: 0 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar-link {
    width: 100%;
    background-color: transparent;
    border-radius: 15px;
    transition: 0.4s ease;
    text-decoration: none;
    color: white;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 1rem 0 1rem 1rem;
    opacity: 0.5;
}

.navbar-link:hover {
    background-color: #6b6cb8;
    color: white;
    opacity: 1;
}

.active-link {
    opacity: 1;
    background-color: #6b6cb8;
    color: white;
}

.panel {
    width: calc(100% - 270px);
    height: 100vh;
    background-color: var(--background-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.header-bar {
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    background-color: white;
    box-shadow: 0px 10px 16px -7px rgba(0, 0, 0, 0.10);
}

.header-content {
    width: 100%;
    padding: 0.5rem 0 0.5rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 3rem;
    position: absolute;
    right: 5%;
}

.profile-wrapper {
    background-color: #DBDDEC;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.profile-picture-wrapper {
    background-color: #858EBD;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.header-content .fa-user {
    font-size: 1.5rem;
    color: white;
    transform: translate(-2%, 25%);
}

.header-content .fa-bell {
    font-size: 1.7rem;
    transform: translateY(2px);
}

.notifications {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.circle {
    position: relative;
    background-color: red;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    right: 12px;
    top: -5px;
    border: 2px solid white;
}

.footer{
    position: relative;
    bottom: 0;
    height: 10rem;
    width: 100%;
    margin-top: 2rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content{
    width: 100%;
    padding: 1.5rem 2rem 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.footer-content p{
    color: var(--text-light-gray);
    font-size: 0.9rem;
    font-weight: 300;
}
.footer-links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    font-size: 1rem;
    font-weight: 300;
}

.footer-link{
    color: var(--dark-bg-text);
    text-decoration: none;
}

.footer-links:hover{
    color: var(--primary-hover);
}

.location-crumb {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 0 2rem;
}

.timing-guide {
    background-color: white;
    border-radius: 100px;
    padding: 0.8rem 2rem;
    font-weight: 600;
    color: var(--primary);
}

.panel-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    overflow-y: scroll;
}

.row-custom {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.card-box {
    background-color: white;
    width: 30%;
    border-radius: 20px;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.card-box-top {
    width: 100%;
    text-align: left;
}

.card-box-bottom {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card-box-header {
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--text-light-gray);
}

.card-box-escalation {
    font-weight: 700;
    font-size: 2rem;
}

.progress-positive {
    font-weight: 600;
    font-size: 1.2rem;
    color: green;
}

.progress-arrow-up {
    transform: rotate(-45deg);
}

.progress-negative {
    font-weight: 600;
    font-size: 1.2rem;
    color: red;
}

.progress-none {
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--text-light-gray);
}

.progress-arrow-down {
    transform: rotate(45deg);
}


@media only screen and (max-width: 1280px) {

    .row-custom {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
    }

    .card-box {
        padding: 2rem 1rem;
    }

    .card-box-escalation {
        font-weight: 600;
        font-size: 1rem;
    }

    .progress-negative {
        font-weight: 600;
        font-size: 1rem;
        color: red;
    }

    .progress-positive {
        font-weight: 600;
        font-size: 1rem;
        color: green;
    }

    .progress-none {
        font-weight: 600;
        font-size: 1rem;
        color: var(--text-light-gray);
    }

    .card-box-header {
        font-weight: 600;
        font-size: 0.8rem;
        color: var(--text-light-gray);
    }
}

.panel-data-container {
    width: calc(100% - 4rem);
    background-color: white;
    padding: 2rem;
    border-radius: 20px;
}

.chart {
    width: 100% !important;
}

.profile-details {
    background-color: white;
    position: relative;
    top: 13rem;
    right: 5%;
    border-radius: 10px;
    box-shadow: 0px 0px 19px -7px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 287px;
    z-index: -100;
    opacity: 0;
    transition: 0.4s ease opacity;
}

.top-arrow {
    position: absolute;
    background: transparent;
    right: 5%;
    top: -6%;
    font-size: 2rem;
    color: white;
}

.profile-details-header {
    position: relative;
    width: 100%;
    font-weight: 600;
    font-size: 1.1rem;
    border-bottom: 2px solid var(--background-light);
    padding: 1.5rem;
    margin-top: 0.7rem;
}

.profile-details-body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.profile-detail-list {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
}

.last {
    border-radius: 0 0 10px 10px;
}


.profile-detail-list .fas {
    padding-right: 1rem;
}

.profile-detail-list-item-link {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 1.3rem;
    border-bottom: 2px solid var(--background-light);
    text-decoration: none;
    color: var(--text-light-gray);
}

.profile-detail-list-item-link:hover {
    background-color: #f4f4f4;
    color: black;
    transition: 0.3s ease;
}

.search-input-group{
    display: flex;
    flex-direction: row;

}

.table-option-input {
    background-color: var(--dark-bg);
    border: none;
    border-radius: 5px;
    padding: 0.8rem 3rem;
    transform: translateX(-1rem);
}

.table-option-input:focus {
    border: none;
    outline: none;
}


.search-input::placeholder {
    color: var(--dark-bg-text);
    font-weight: 500;

}

.search-input-icon {
    color: var(--dark-bg-text);
    position: relative;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 1;
}

.panel-table-container {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data-table {
    width: 100%;
    text-align: center;
}

.data-table thead tr td {
    background-color: var(--dark-bg);
    color: var(--dark-bg-text);
    font-weight: 600;
    padding: 1.5rem 1rem !important;
}

.data-table tr:nth-child(even) {
    background-color: var(--table-stripes);
}

.data-table tbody tr td {
    padding: 1.5rem 1rem;
}

.table-date {
    color: var(--table-date);
}

.table-link {
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
    transition: 0.4s ease;
}

.table-link:hover {
    color: var(--primary-hover);
}

.table-frequency-badge{
    background-color: #E83F4B;
    color: white;
    font-size: 0.9rem;
    border-radius: 200px;
    padding: 0.5rem 0.8rem;

}

.modal-double-option{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-container{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination-pages{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--primary);
}

.pagination-badge-ghost{
    cursor: pointer;
    background-color: var(--dark-bg);
    color: black;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    width: 35px;
    height: 35px;
}
.pagination-badge{
    cursor: pointer;
    color: black;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    width: 35px;
    height: 35px;
}

.active-pagination-badge{
    background-color: var(--primary);
    color: white;
}
.pagination-badge:hover{
    color: white;
    background-color: var(--primary);
    transition: 0.4s ease color;
}
.pagination-badge-ghost:hover{
    color: white;
    background-color: var(--primary);
    transition: 0.4s ease color;
}

.pagination-details{
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.pagination-filter {
    background-color: var(--dark-bg);
    border: none;
    border-radius: 100px;
    padding: 0.6rem 2rem;
}

.pagination-details-text{
    font-weight: 600;
    font-size: 0.8rem;
}




